@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'),
        url('../fonts/arial-regular.woff2') format('woff2'),
        url('../fonts/arial-regular.woff') format('woff'),
        url('../fonts/arial-regular.ttf') format('ttf'),
        url('../fonts/arial-regular.otf') format('otf');
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: local('Georgia'),
        url('../fonts/georgia-regular.woff2') format('woff2'),
        url('../fonts/georgia-regular.woff') format('woff'),
        url('../fonts/georgia-regular.ttf') format('ttf'),
        url('../fonts/georgia-regular.otf') format('otf');
}

@font-face {
    font-family: 'Georgia';
    font-style: bold;
    font-weight: 700;
    src: local('Georgia'),
        url('../fonts/georgia-bold.woff2') format('woff2'),
        url('../fonts/georgia-bold.woff') format('woff'),
        url('../fonts/georgia-bold.ttf') format('ttf'),
        url('../fonts/georgia-bold.otf') format('otf');
}

@mixin font-arial($size: 18px) {
    font:  400 $size 'Arial', sans-serif;
}

// Файл обнуляющих стилей
@import "_nullstyle";

html {
    scroll-behavior: smooth;
}

body {
    font: 400 18px 'Georgia', 'Times New Roman', 'Times', serif;
    color: #2b3230;
}

.body_lock {
    overflow: hidden;
}

//--------------- header ---------------
.head {
    width: 100%;
    background-color: #2b4941;
    background-image: url('../assets/images/promo-bg.png');
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;

    &__fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        background-image: none;
        animation: show_head;
        animation-duration: 1s;
        box-shadow: 0 0 20px rgb(195, 195, 195);
    }

    @keyframes show_head {
        0% {
            opacity: 0;
            top: -100px;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }

    &__container {
        max-width: 1780px;
        min-height: 90px;
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
	}
}

.logo {
    z-index: 5;
    display: flex;
    align-items: center;

    &__icon {
        background-image: url('../assets/images/logo.png');
        width: 65px;
        height: 65px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 15px;

        &_white-theme {
            background-image: url('../assets/images/footer-logo.png');
        }
    }

    &__title {
        color: #ffffff;
        letter-spacing: 2px;

        &_white-theme {
            color: #2b3230;
        }

        span {
            font-size: 20px;
            line-height: 25px;    
            text-transform: uppercase;
            color: #ffc64c;
        }
    }
}

.menu {
    &__icon {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        @include font-arial($size: 16px);
        color: #ffffff;
        padding: 0 25px;
        transition: all 0.4s ease;

        &:hover {
            color: #f3cc93;
        }
    }
}

.phone-number {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 2;

	&__icon {
        display: block;
        width: 60px;
        height: 60px;
        background-image: url('../assets/svg/icon-header-24hours.svg');
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 30px;
	}

	&__items {
        display: flex;
        flex-direction: column;
	}

	&__item {
        padding-left: 60px;
        background-repeat: no-repeat;
        background-size: 40px 20px;

		&_item1 {
            background-image: url('../assets/svg/icon-header-logo-mts.svg');
            background-position: 0 3px;
		}

		&_item2 {
            background-image: url('../assets/svg/icon-header-logo-a1.svg');
            background-position: 0 2px;
		}
	}

    a {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        transition: color 0.4s ease, transform 0.4s ease;
        
        &:first-child {
            margin-bottom: 10px;
        }

        &:hover {
            color: #f3cc93;
            transform: scale(1.05);
            transition: color 0.4s ease, transform 0.4s ease;
        }
    }
}

.promo {
    color: #ffffff;
    background-color: #134734;
    background-image: url('../assets/images/promo-bg.png');
    background-position-y: -140px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 30px;

	&__container {
        height: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
	}

    &__phone-number {
        display: none;
        z-index: 0;
    }

	&__title {
        color: #ffc64c;
        font-size: 40px;       
        font-weight: bold;
        line-height: 65px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
	}

	&__title2, &__title3 {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-top: 10px;
	}

    &__title3 {
        margin-bottom: 20px;
    }

	&__areas {
        @include font-arial($size: 25px);
        line-height: 35px;
        margin-bottom: 80px;
        span {
            color: #feeabe;
        }
	}

	&__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
	}

	&__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @include font-arial($size: 25px);
        line-height: 30px;
        letter-spacing: 1px;
		&_first {
            margin-right: 150px;
		}
	}

	&__description {
        span {
            color: #ff1d1d;
        }
	}

	&__button {
        margin-top: 45px;
	}

	&__title-info {
        margin-bottom: 10px;
	}
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;

    &_flex {
        display: flex;
        align-items: center;
    }
}

.subtitle {
    @include font-arial($size: 20px);
    line-height: 25px;
    text-align: center;
}

.button {
    display: inline-block;
    text-align: center;
    @include font-arial;
    color: rgb(33, 52, 36);
    background-color: #f3cc93;
    border-radius: 100px;
    padding: 20px 50px;
    transition: all 0.5s ease;
    &:hover {
        background-color: #f4d9b2;
    }
}

//--------------- about ---------------
.about {
    &__wrapper {
        margin-left: 3rem;
    }

    &__title-2 {
        text-align-last: left;
    }

    &__paragraph {
        @include font-arial;
        letter-spacing: 0.09rem;
        margin: 0 0 1.5rem 0;
        line-height: 1.7rem;
    }

    &__button {
        background-color: transparent;
        border: 2px solid #f4d9b2;
    }
}

.section {
    padding: 120px 0;
}

.title-2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
}

//--------------- advantages ---------------

.advantages {
    background-color: #fdfbf6;
    &__icon {
        max-width: 100%;
    }

    &__subtitle {
        @include font-arial;
        line-height: 25px;
        text-align: center;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 31%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.title-3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0 30px 0;
    text-align: center;
}

//--------------- services ---------------
.services {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 15px;
    }

    &__img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        background-size: cover;
        background-repeat: no-repeat;

        &_1 {
            background-image: url('../assets/svg/icon-services-1.svg');
        }

        &_2 {
            background-image: url('../assets/svg/icon-services-2.svg');
        }

        &_3 {
            background-image: url('../assets/svg/icon-services-3.svg');
        }

        &_4 {
            background-image: url('../assets/svg/icon-services-4.svg');
        }

        &_5 {
            background-image: url('../assets/svg/icon-services-5.svg');
        }

        &_6 {
            background-image: url('../assets/svg/icon-services-6.svg');
        }

        &_7 {
            background-image: url('../assets/svg/icon-services-7.svg');
        }

        &_8 {
            background-image: url('../assets/svg/icon-services-8.svg');
        }

        &_9 {
            background-image: url('../assets/svg/icon-services-9.svg');
        }

        &_10 {
            background-image: url('../assets/svg/icon-services-10.svg');
        }

        &_11 {
            background-image: url('../assets/svg/icon-services-11.svg');
        }

        &_12 {
            background-image: url('../assets/svg/icon-services-12.svg');
        }

        &_13 {
            background-image: url('../assets/svg/icon-services-13.svg');
        }

        &_14 {
            background-image: url('../assets/svg/icon-services-14.svg');
        }

        &_15 {
            background-image: url('../assets/svg/icon-services-15.svg');
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;   
    }
}

//--------------- shop ---------------
.shop {
    background-color: #fdfbf6;
    
    &__body {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-auto-rows: minmax(200px, auto);
        grid-column-gap: 30px;
    }

    &__left-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: center; 
        @include font-arial;
        line-height: 25px;
        letter-spacing: 1px;
    }

    &__paragraph {
        margin-bottom: 15px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        @include font-arial;
        line-height: 25px;
    }

    &__item {
        padding-left: 15px;
        position: relative;
        &::before {
            content: '-';
            color: #e19523;
            position: absolute;
            left: 0px;
        }
    }

    &__sale {
        font-weight: bold;
        text-transform: uppercase;
        color: #ff1d1d;
    }

    &__button {
        display: inline-block;
        width: 300px;
        margin-top: 30px;
        position: relative;
        &_second {
            padding-left: 70px;
            &::before {
                content: '';
                position: absolute;
                top: 17px;
                left: 35px;
                width: 24px;
                height: 24px;
                background-image: url('../assets/svg/icon-shop-location.svg');
                background-repeat: no-repeat;
            }
        } 
    }

    &__right-column {
       display: flex;
       align-items: center; 
       justify-content: center;      
    }

    &__image {
        width: 100%;
    }
}

//--------------- contacts ---------------
.contacts {
    background-color: #fdfbf6;
    &__subtitle {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 60px;
    }

    &__item-1 {
        display: flex;
        flex-direction: column;
    }

    &__title-3 {
        text-align: left;
        margin-top: 0 !important;
    }
    
    &__phone-number {
        @include font-arial($size: 20px);
        line-height: 30px;
        color: #2b3230;
        padding-left: 40px;
        transition: color 0.4s ease;
        position: relative;

        &:hover {
            color: #f3cc93;
            transition: color 0.4s ease;
        }

        &_first::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url('../assets/svg/icon-contacts-phone.svg');
            background-repeat: no-repeat;
        }

        &_second {
            margin-bottom: 10px;
        }
    }

    &__mail {
        @include font-arial;
        line-height: 30px;
        color: #2b3230;
        margin-top: 15px;
        padding-left: 40px;
        transition: color 0.4s ease;
        position: relative;

        &:hover {
            color: #f3cc93;
            transition: color 0.4s ease;
        }

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url('../assets/svg/icon-contacts-email.svg');
            background-repeat: no-repeat;
        }
    }

    &__address {
        @include font-arial;
        line-height: 23px;
        margin-bottom: 20px;
        padding-left: 40px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url('../assets/svg/icon-contacts-location.svg');
            background-repeat: no-repeat;
        }
    }

    &__time {
        @include font-arial;
        line-height: 23px;
        padding-left: 40px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url('../assets/svg/icon-contacts-time.svg');
            background-repeat: no-repeat;
        }
    }

    &__map{
        width: 100%;
        height: 440px;
        box-shadow: 0 20px 50px -20px rgb(110, 110, 110);    
    }
}

//--------------- footer ---------------
.footer {
    padding: 30px 0;  
    box-shadow: 0 20px 30px  rgb(110, 110, 110);
    
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        z-index: 1;
    }

    &__copyright,
    &__information {
        @include font-arial;
        line-height: 25px;
    }
}